.body {
    background-color: #222c35;
    color: #b5b8bb;
    font-family: FreeMono, monospace;
}
.body .logo {
    margin: 15% 15% 15% 31%;
}
.body .logo img {
    max-width: 200px;
    position: relative;
    right: 0;
}
@media (min-width: 992px) {
    .body .logo {
        margin: 14% 22% 20% 0;
    }


}
@media (max-width: 992px) {

    .body .logo img {
        max-width: 200px;
        position: relative;
        right: 55%;
    }
}
.body header nav {
    width: 430px;
    font-weight: 700;
    font-size: 30px;
    position: relative;
    bottom: 8%;
    right: 5%;
}
nav ul li {
    list-style-type: none;
    cursor: pointer;
}
nav ul li:hover {
    color: #43d3aa;
}
nav ul li span.line {
    color : #53877f;
}
.header-image {
    max-width: 400px;
    display: block;
    margin: auto;

}
@media (min-width: 1200px) {
    .header-image {
        padding-top: 20%;
    }
}
h1 {
    color: #2b5658;
    font-size: 85px;
    text-transform: uppercase;
}
section div p {
    font-size: 25px;
    margin-left: 5px;
}
.mission-p {
    padding-top: 25px;
}
@media (max-width: 991px) {
    .services-image {
 width: 100%;
    }
}
@media (min-width: 992px) {
.services-image {
    max-width: 400px;
    float: right;
}}
.services {
    clear: both;
    padding-top: 50px;
    padding-bottom: 30px;
    /*border: 3px outset #2b5658;*/
    /*border-radius: 15px;*/
}
div.services {
    padding-top: 20px;
}
.h1-services {
    padding-bottom: 45px;
}
.products {
margin-top: 50px;

}
.products h1{
   text-align: center;
}
.products .row div p{
    max-width: 340px;
    margin: auto;
    padding-top: 40px;
    text-align: center;
}
.products img {
    display: block;
    margin: auto;
    padding-top: 50px;
}
.about {
    margin-top: 40px;
}
.about > div {
      clear: both;
  }
.about h1 , .about > div > div{
    text-align: center;
}
footer {
    text-align: center;
    padding-top: 40px;
}
footer > * {
    margin-top: 25px;
}
footer h2 a{
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}
footer h2 a:hover{
    color: #43d3aa;
    text-decoration: none;
}
.logo h2 {
    cursor: pointer;
    display: inline-block;
    position: relative;
    left: 50%;
    font-weight: 600;
    vertical-align: top;
}
.logo h2:hover{
    color: #43d3aa;
    text-decoration: none;
}